*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: linear-gradient(
        to right bottom,
        hsl(0, 8%, 95%),
        hsl(0, 13%, 90%)
    );
}

p{
    font-size: 22px;
}

.secondary-header{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 30;
    letter-spacing: 2px;
}

.user-button{
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        hsl(118, 80%, 72%),
        hsl(133, 96%, 28%)
    );
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: .3rem;
    border: none;
    cursor: pointer;

    height: 40px;
    width: 200px;

    transition: all 0.3s;
    position: relative;
}

.user-button:hover{
    transform: translateY(-9px);
    box-shadow: 3px 2px 15px black;
}



