.nav-bar-div{
    display: flex;
    justify-content: space-around;
    padding: 1%;

    z-index: 10;
    position: sticky;
    top: 0;
    transition: all 0.5s;

    background-color: white;
}

.nav-container{
    color: hsl(133, 89%, 18%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    border: solid;
    border-radius: 0.3em;
    width: 260px;
    text-align: center;
    opacity: 0.5;
    transition: all 0.9s;
    text-align: center;
    padding: 0.3%;
}

.nav-container:hover{
    cursor: pointer;
    opacity: 1;
    width: auto;
    width: 260px;
    text-align: center;
}