.login-form{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 60%;
    height: 80%;
    border-radius: .3rem;

    background-image: linear-gradient(
        to right bottom,
        hsla(0, 0%, 0%, 60%),
        hsla(0, 0%, 0%, 60%)
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
}

.login-header{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.login-grid{
    width: 60%;
    display: grid;
    margin-bottom: 5%;
}

.login-label{
    font-size: 25px;
    text-transform: uppercase;
}

.login-input{
    font-size: inherit;
    height: 30px;
}

.admin-login-button{
    height: 50px;
    width: 130px;
    border-radius: 0.5rem;
    border: none;
    text-transform: uppercase;
    background-image: linear-gradient(
        to right,
        hsl(128, 77%, 79%),
        hsl(136, 66%, 52%)
    );
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

    transition: all 0.3s;
}

.admin-login-button:hover{
    transform: translateY(-5px);
}