.left-solution-grid,
.right-solution-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.solution-img{
    width: 100%;
    height: 80%;
}