.solution-grid {
    display: grid;
    gap: 10px;
    --columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: var(--columns);
    transition: grid-template-columns 0.3s ease;
}


.solution-card{
    height: 600px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.3em;

    transition: all 0.5s;
}

.solution-id-cover{
    background-image: linear-gradient(
        to bottom,
        rgba(9, 156, 4, 0.64),
        hsla(126, 88%, 23%, 0.64)
    );
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-id-cover h1{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    text-transform: uppercase;
}

.selected-solution{
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-text-container{
    height: 95%;
    width: 95%;
    overflow-y: auto;
    background-color: hsla(0, 0%, 0%, 0.6);
    color: white;

    animation: moveUp 2s;
}

@keyframes moveUp {
    0%{
        opacity: 0;
        transform:translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



