.un-wheel {
    position: relative;
    width: 500px;
    height: 400px;
    /* margin: auto; */
    justify-self: center;
}

/* Center UN logo */
.un-icon {
    position: absolute;
    width: 72%;
    left: 48%;
    top: 78%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* 17 slices evenly spaced */
.slice {
    --total: 17;
    --deg: calc(360deg / var(--total));

    position: absolute;
    width: 80px;     /* ↓ smaller so no overlap */
    height: 100px;
    left: 40%;
    top: 30%;

    transform-origin: bottom center;
    transform: rotate(calc(var(--i) * var(--deg)))
               translateY(-220px); /* ↓ pushes slices out */
    margin-top: 100px;
    opacity: 0.6;
}

.impact-slice{
    opacity: 1;
    cursor: pointer;
}

.slice img {
    width: 100%;
    height: 100%;
    object-fit: fill;

    clip-path: path(
        "M 30 0
         Q 60 20 90 0
         L 115 260
         Q 60 240 10 260
         Z"
    );

    transition: transform 0.25s ease;
}

.slice:hover img {
    transform: translateY(-12px);
}

